body {
  font-family: 'Cabin Sketch', cursive;
  background-color: #dbd9d4;
  background-size: cover;
}
h1 {
  text-align: center;
  font-size:70px;
}
h3 {
  text-align: center;
  font-size: 20px;
  margin-top: -40px;
  margin-bottom: 40px;
}
h2{
  font-family:'Permanent Marker', cursive;
  font-size: 40px;
  margin-bottom: -7px;
}
li {
  display: inline;
  padding: 0 10px 0 10px;
}
ul {
  text-align: center;
  margin:20px auto 0 auto;
  font-size: 20px;
}
img {
  border: 7px solid white;
  border-radius: 20px;
  height: 250px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: block;
}
.portfolio_link {
color:#8e233e;
}
.portfolio_head {
  color: #0b15a0
}
.front{
  font-size: 16px;
  margin-top:auto;
}
.travel {
  border: 4px solid black;
  border-radius: 10px;
  height: 400px;
  width: 300px;
  display: inline;
}
#subhead {
  text-align: left;
}